{% extends "base.html" %}


{% block title %}
    <title>Edit Comment</title>
{% endblock %}


{% block stylesheet %}
    <link href="../static/css/form.css" rel="stylesheet" type="text/css">
{% endblock %}


{% block content %}
    <main class="form-post">
        <form method="post">
                <!-- <input type="text" name="title" value="{{ title }}"> -->
                <input type="text" hidden name="author" value="{{ author }}">
                <input type="text" hidden name="comment_id" value="{{ comment_id }}">

            <label>
                Content
            </label>
            <textarea name="content">{{ content }}</textarea>
            <label class="error">{{ error }}</label>
            <button class="button button-block">SUBMIT</button>
        </form>

        <form action="/blog/postpage">
            <input type="text" hidden name="post_id" value="{{ post_id }}">
            <button class="button button-block">CANCEL</button>
        </form>
    </main>
{% endblock %}
