{% extends "base.html" %}


{% block title %}
    <title>Ryan Di - Portofolio</title>
{% endblock %}

{% block content %}
    <section class="container">
        <figure class="col-12">
            <img class="img-responsive" src="../static/image/main.jpg" alt="Main cover">
        </figure>
    </section>

    <section class="container">
        <div class="col-12">
            <h2>Featured Work</h2>
        </div>
    </section>

    <main class="container work">
        <article class="col-12" id="img01">
            <img class="img-responsive" src="http://placehold.it/380x200" alt="project01 screenshot">
            <h3>Social Blog</h3>
            <p class="project-link">https://www.github.com/ryandi/social-blog</p>
        </article>

        <article class="col-12" id="img02">
            <img class="img-responsive" src="http://placehold.it/380x200" alt="project02 screenshot">
            <h3>Carrer Hub</h3>
            <p class="project-link">https://www.github.com/ryandi/career-hub</p>
        </article>

        <article class="col-12" id="img03">
            <img class="img-responsive" src="http://placehold.it/380x200" alt="project03 screenshot">
            <h3>For clients</h3>
            <p class="project-link">https://www.github.com/ryandi/for-client</p>
        </article>
    </main>
{% endblock %}
